# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
venv312/
.venv/

# Logs
logs/
*.log

# Models and heavy files
models/
checkpoints/
data/
artifacts/
*.ckpt
*.bin
*.pt
*.pth
*.onnx
*.h5
*.zip
*.tar
*.gz

# macOS / editors
.DS_Store
.vscode/
.idea/
